<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CRUD MongoDB</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<style>
		body, html {
			margin: 0; 
			padding: 0;
			min-height: 100%;
		}

		.row {
			height: 500px;
			margin-top: 100px;
		}
		.col {
			background-color: black;
			padding: 20px;
			margin: 10px;
		}
		.col2 {
			background-color: aqua;
		}

		label {
			font-weight: 600;
		}

	</style>

</head>



<body>
  <div class="container">
    <div class="row">
      <div class="col" style="background-color: green">
				<h1> Create </h1>
				<hr>
				
				<form action="/create" method="POST">
					<div class="form-group">
						<label for="fname">First Name</label>
						<input type="text" class="form-control" id="fname" name="fname" aria-describedby="fnameHelp" placeholder="Enter first name" required>
					</div>

					<div class="form-group">
						<label for="lname">Last Name</label>
						<input type="text" class="form-control" id="lname" name="lname" placeholder="Enter last name" required>
					</div>
				
					<button type="submit" class="btn btn-primary">Submit</button>
					<br>
					<br>
					<% if (create) { %>
						<p> <%= createMsg %></p>
					<% } %>
				</form>
				
			</div>

			<div class="col" style="background-color: red">
				<h1>Read</h1> 
				<hr>
				<form action="/read" method="POST">
					<div class="form-group">
						<label for="query">Query</label>
						<input type="text" class="form-control" name="fname" aria-describedby="fnameHelp" placeholder="Enter first name" required>
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
					<br>
					<br>
					<% if (read) { %>
						<% if (typeof readMsg === "object") { %>
							<strong>You searched for: </strong> 
							<% for (var key in readMsg) { %>
								<p> <%= key %> : <%= readMsg[key] %></p>
							<% } %>
						<% } else { %>
							<strong>Your query could not be matched. No record in the database.</strong>
						<% } %>
					<% } %>
				
			</div>

			<div class="col" style="background-color: aqua">
					<h1>Update</h1> 
					<hr>
					<form action="/update" method="POST">
						<div class="form-group">
							<label for="fname">Query</label>
							<input type="text" class="form-control" name="fname" aria-describedby="fnameHelp" placeholder="Enter first name" required>
						</div>
						<hr>
						<div class="form-group">
								<label for="fname">Message</label>
								<textarea class="form-control" name="msg" aria-describedby="msgHelp" placeholder="Enter your message" required></textarea>
						</div>
	
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					<br>
					<br>
					<% if (update) { %>

						<strong><%= updateMsg %></strong>
					<% } %>

			</div>

			<div class="col" style="background-color: yellow">
					<h1>Delete</h1> 
					<hr>
					<form action="/delete" method="POST">
						<div class="form-group">
							<label for="fname">Query</label>
							<input type="text" class="form-control" name="fname" aria-describedby="fnameHelp" placeholder="Enter first name" required>
						</div>
			
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					<br>
					<br>
					<% if (deleted) { %>
						<strong><%= deleteMsg %></strong>
					<% } %>
			
					
			</div>
		</div>
       
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>




</html>